In [4]:
print("Hello world")

Hello world

In [6]:
print("환경합니다")

환경합니다

In [7]:
print("1"+"둘"+"3")

1둘3

In [12]:
print("good morning", end=";;;\n")
#print("see you tomorrow")

good morning;;;

In [13]:
"""
description
"""

'\ndescription\n'

In [15]:
print("줄바꿈\n일어남")

줄바꿈
일어남

In [17]:
print("줄바꿈\\일어남")

줄바꿈\일어남

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [25]:
a=1
b=2
c=3
print(a+b+c)

6

In [26]:
a+1

2

In [27]:
 z= a = b = c+ 1

In [28]:
z

4

In [29]:
a

4

In [30]:
b

4

In [31]:
c

3

In [32]:
a

4

In [35]:
c = 9
c

9

In [37]:
a, c = c, a
print(a,c)

4 9

In [38]:
3.0**400

7.055079108655333e+190

In [39]:
time = 50
day = time/24
day

2.0833333333333335

In [40]:
one_and_two = 'aaa'
print(one_and_two)

aaa

In [41]:
one.and.twe = 1

SyntaxError: invalid syntax (<ipython-input-41-651acc0827a3>, line 1)

In [43]:
my_int = float(50)
type(my_int)

float

In [48]:
my = int(50.0)
type(my)
my

50

In [49]:
eval('1+2+3')

6

In [50]:
def hello_world():
    print("hello function")

In [51]:
hello_world()

hello function

In [56]:
def return_restult(x, y):
    a = x
    b = y
    result = a+b
    return result

print(return_restult(10, 30))

40

In [57]:
def circle (pi, radius):
    print("pi = ", pi)
    print("반지름 = ", radius)
    return pi*radius **2

circle(3.24, 10)

pi =  3.24
반지름 =  10

324.0

In [60]:
r1, r2 = return_restult(10,20), circle(3.14,20)
print()
print(r1,",", r2)

pi =  3.14
반지름 =  20

30 , 1256.0

In [61]:
def calc_volume(len, wid, hei):
    return len * wid * hei

calc_volume(10,20,30)

6000

In [66]:
'''
position arguments
'''
def calc_volum_arg(*args):
    print(args)
    
calc_volum_arg(10,20,30)

(10, 20, 30)

In [84]:
'''
keyword arguments
'''
def calc_volum_args(x,**args):
    print(args)
    
calc_volum_args(10,a=10,b=20,c=30)

{'a': 10, 'b': 20, 'c': 30}

In [73]:
def outer(x):
    def inner(y):
        return y**2 + 1
    z = inner(x) + 2
    return z

print(outer(2))

7

In [76]:
def square(len):
    print("한변 = ", len)
    return len**2

def outer(x):
    def inner(y):
        return y**2 + 1
    
    z = inner(x) + square(x)
    return z

print(outer(2))

한변 =  2
9

In [80]:
def rectangle(L1, L2):
    return L1*L2

print(rectangle(20,40))

800

In [82]:
def rectangle2(L1, L2=5):
    return L1*L2

print(rectangle2(20))

100

In [83]:
def names(*args):
    print(args)

names('홍','길','동')

('홍', '길', '동')

In [ ]:
def names(*args):
    print(args)

names('홍','길','동')

In [87]:
def names2(**args):
    print(args)

names2(f='홍',s='길동',gender='남')

{'f': '홍', 's': '길동', 'gender': '남'}

In [89]:
year=input('출생연도: ')
print(eval(year)+100)

출생연도: 1877
1977

In [93]:
a = list((10,20,30,40))

In [94]:
a

[10, 20, 30, 40]

In [95]:
len(a)

4

In [96]:
max(a)

40

In [97]:
min(a)

10

In [98]:
o_file = open('./test.txt')
o_file.read()

'"# algorithmPython"'

'''
markdown 
'''
$$T_f=frac(9{}{}5T_c)+32$$

In [110]:
def linear_equ (x, m=1,b=0):
    y = m * x + b
    return y

linear_equ(10,m=2)

20

In [111]:
def tran(tc):
    return (9/5)*tc + 32

tran(36)

96.8

In [112]:
x = ['a',':','c',123,[1,2,3]]

In [113]:
x

['a', ':', 'c', 123, [1, 2, 3]]

In [115]:
y = ['two',1,6/3]
y

['two', 1, 2.0]

In [116]:
def fnc(n):
    return [n,n+1,n*2, n**2]

fnc(3)

[3, 4, 6, 9]

In [119]:
c = [1,2,3] + ['a','b','c']

In [120]:
c

[1, 2, 3, 'a', 'b', 'c']

In [121]:
c.pop()

'c'

In [122]:
c

[1, 2, 3, 'a', 'b']

In [123]:
del c[2]

In [124]:
c

[1, 2, 'a', 'b']

In [125]:
len(c)

4

In [126]:
c.append('추가')

In [127]:
ㅊ

NameError: name 'ᄎ' is not defined

In [128]:
c

[1, 2, 'a', 'b', '추가']

In [129]:
d = [1,2,3]
d

[1, 2, 3]

In [130]:
c.extend(d)

In [131]:
c

[1, 2, 'a', 'b', '추가', 1, 2, 3]

In [132]:
c.append(['x','y','z'])

In [133]:
c

[1, 2, 'a', 'b', '추가', 1, 2, 3, ['x', 'y', 'z']]

In [134]:
c[8]

['x', 'y', 'z']

In [135]:
c

[1, 2, 'a', 'b', '추가', 1, 2, 3, ['x', 'y', 'z']]

In [136]:
c.pop(8)

['x', 'y', 'z']

In [137]:
c

[1, 2, 'a', 'b', '추가', 1, 2, 3]

In [138]:
c.append(['x','y','z'])

In [139]:
c

[1, 2, 'a', 'b', '추가', 1, 2, 3, ['x', 'y', 'z']]

In [140]:
animal=[['dog','Ruby',7],['cat','Nero',3],['dog','John',4]]

In [141]:
animal

[['dog', 'Ruby', 7], ['cat', 'Nero', 3], ['dog', 'John', 4]]

In [143]:
[x,y,z] = 1,3,4
print(x,y,z)

1 3 4

In [144]:
j,k,l = [1,2,3]
print(j,k,l)

1 2 3

In [145]:
aa = [3,4,2,6]
aa.sort()

In [146]:
aa

[2, 3, 4, 6]

In [147]:
aa.reverse()

In [148]:
aa

[6, 4, 3, 2]

In [149]:
aa.sort(reverse=True)

In [150]:
aa

[6, 4, 3, 2]

In [151]:
tuple(aa)

(6, 4, 3, 2)

In [152]:
alist=[1,2,3,3,3,4,5]
alist.count(3)

3

In [153]:
alist.index(2)

1

In [154]:
alist[:1]

[1]

In [155]:
alist[:5]

[1, 2, 3, 3, 3]